.App {
  text-align: center;
}

.App-logo {
  height: 10vmin; /* Ajustement de la taille du logo */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 3s linear; /* Réduction de la durée de l'animation */
  }
}

.App-header {
  background-color: #007bff; /* Changement de la couleur de fond */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ffbf00; /* Changement de la couleur du lien */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
